<form method="post" action="/recipes">
  <h2>Recipe's Name: <input id="name" type="text" name="name"></h2>
  <h4>Recipe's Ingredients: <input id="ingredients" type="text" name="ingredients"></h4>
  <h4>Recipe's Cooking Time: <input id="cook_time" type="text" name="cook_time"></h4>
  <input type="submit" id="submit">
</form>
